@model DemoMVC.Models.Emp
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @*<input type="text" id="Name" name="Name" value="@Model.Name" />*@
        No:   @Html.TextBox("No")  <br />
        Name:   @Html.TextBox("Name")<br />
        Address:   @Html.TextBox("Address")  <br />
      
    </div>
</body>
</html>
