@{
    Layout = "~/Views/Shared/MainMasterLayOut.cshtml";
}

<div>
    <h1>Some is not right here.. Pls try again after some time</h1>
    <h6>Technical details:</h6>
    <p>
        @Model.Message
    </p>
    <br />
    <a href="/Home/Index" class="btn btn-info" style="margin-left: 10px;">Go to Home Page</a>
</div>
