@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>XYZ</title>
</head>

<body>
    <div>
        <h1>@Model.No</h1>
        <h1>Hello @Model.Name </h1>
        <h2>Address: @Model.Address</h2>
    </div>
</body>

</html>
